


.bgpic {

	background-color: lightgrey;
}

.white {
	
}

#sup {
	display:flex;
	width: 100%;
	justify-content: center;
}



#yes {
	display:flex;
	width: 100%;
	justify-content: center;
	color: black;
}


.nav-pills li a {
    font-family: 'Saira', sans-serif;
    background-color: none;
    color: black;
    font-size: 50px;
}




#sup {
	color: black;
	
	display:flex;
	width: 100%;
	justify-content: center;
}


.navbar-inverse {
    background-color: black;
}

#suup {
	color: black;
	padding-left:200px;
	font-family: 'Anton', sans-serif;
}


#pew {
	justify-content: center;
}

#top3yt {
	background:url(../bilder/grey.jpeg); 
}

#ja1sida {

}



.icon-bar {
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
    display: inline-block;
    margin-top: 15px;
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000207; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}




#lat {
	padding-left: 20px;
}

.scroll-box{
  height:100px;
  width: auto;
  background-color: black;
  display: block;
}

.scroll-box2{
  height:100px;
  width: auto;
  background-color: skyblue;
  display: block;
}
#parall{
  color:white;
  font-size: 20px;
  font-family: times;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

#parall2{
  color:white;
  font-size: 20px;
  font-family: times;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}


.glyphicon{
  font-size: 20px;
  color:  #07575B;
}

.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.whitebox {
    position: absolute;
    top: 1400px;
    background: rgba(255,255,255,0.6);
    margin-left:50%;
    transform: translateX(-50%);
    padding: 30px;
    color:black;
    font-size: 20px;
    font-family: times;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;

}